/* Reseting website for a proper border box */
*, *::before, *::after {
  box-sizing: border-box;
  /* font-family:'Oxygen', 'Ubuntu'; */
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: rgb(29, 29, 30); */
   /* Navig bar color code for Github  */
  background-color: #161B22;
  /* background-color: #0D1117; */
} 

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border: 1px solid black;
  padding: 0;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  /* background-color: rgb(20, 20, 21); */
  background-color: #0D1117;
  /* background-color: #161B22; */
}

.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.icon{
  margin: 0;
  margin-left: 1rem;
  border: 0;
  padding: 0;
  display: absolute;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
}

.voidsorrow{
  display: flex;
  justify-content:start;
  align-items: center;
  margin: 0;
  margin-left: 10px;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  color: white;
}

.nav-links,a{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  border: 2;
  padding: 5px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  list-style-type: none;
  text-decoration: none;
  background-color: transparent;
  color: white;
}

.btn{
  --bs-btn-bg:#0D1117;
  --bs-btn-border-color: #0D1117;
  --bs-btn-hover-bg:var(--bs-transparent);
  --bs-btn-hover-border-color:var(--bs-gray);
}

/* .nav-links button::before{
  padding: 4%;
  border-radius: 7px;
  /* background-color: transparent; */
  /* color: white; */
/* } */

/* .nav-links button:hover{ */
  /* border: 7px darkgray; */
  /* border-radius: 7px; */
  /* background-color: #161B22; */
/* } */

/* .nav-links,a:hover{
  /* color for links */
  /* color: #58A6FF; */
  /* border: 10px darkgray;
  color: darkgray;
} */

.section1{
  display: flex;
  /* flex-direction: row; */
  justify-content:center space-around;
  align-items: center;
  margin-top: 3em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 4em;
  border: 5px;
  border-radius: 16px;
  padding: 1vh;
  box-sizing: border-box;
  /* background-color: aliceblue; */
  /* background-color: #bdd5f4; */
  background-color: azure;
  /* background-color:azure; */
  height: 75vh;
  width: 90%;
  transition:all 0.7s  ease-in-out;
}

.section1:hover{
  /* background-color: azure; */
  /* background-color: aliceblue; */
  /* background-color: #b4cff4; */
  /* background-color: #55598b; */
  /* background-color:darkgray; */
  background-color: #bdd5f4;
  border: 5px solid black;
  transition: scale(1.1);
  transition:all 0.5s  ease-in-out;
} 



.intro{
  display: flex;
  flex-direction: column;
  justify-content:center space-around;
  align-items: center;
  margin: 0;
  /* border: 2px solid black; */
  padding: 22vh;
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
}

.profile{
  display: flex;
  /* margin: 0; */
  margin-top: 16px;
  margin-left: 48px;
  border: 0;
  padding: 0;
}

.profile img{  
  display: flex;
  flex-direction: row;
  justify-content:center space-around;
  align-items: left;
  margin:0;
  /* border:10px #0D1117; */
  width: 25vh;
  height: 24vh;
  border-radius: 50%;
}

/* .profile img:hover{
  background-image: url("voidsorrow.png");
  background-size: cover;
} */

.context{
  display:flex-end;
  flex-direction: column;
  justify-content:center space-around;
  align-items:center;
  margin: 0;
  border: 0;
  padding: 2rem;
  box-sizing: border-box;

  font-weight:400;
  color: #161B22;
}

.intro h1{
  display: flex-end;
  flex-direction: column;
  justify-content:center space-around;
  align-items:center;
  margin: 0;
  border: 0;
  padding: 3rem;
  box-sizing: border-box;
  font-size: 2.3rem;
  font-weight: 700;
  color: #0D1117;
  /* color: #161B22; */
  /* color: #bdd5f4; */
}

.section2{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 6em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 4em;
  border: 5px;
  border-radius: 16px;
  /* padding: 1vh; */
  box-sizing: border-box;
  /* background-color: aliceblue; */
  /* background-color: #bdd5f4; */
  background-color: azure;
  /* background-color: darkgray; */
  height: 80vh;
  width: 90%;
  /* transition:all 0.7s  ease; */
}

.section2:hover{
  /* background-color: azure; */
  /* background-color: aliceblue; */
  /* background-color: #b4cff4; */
  /* background-color: #55598b; */
  /* background-color:darkgray; */
  background-color: #bdd5f4;
  border: 5px solid black;
  transition: scale(1.1);
  transition:all 0.5s  ease;
} 

.icons-list i{
  margin-left: 2rem;
  margin-right: 2rem;
}


